@font-face {

font-family:"Aammu";

src:url("./fonts/MV_AammuFK_Regular.ttf") format("truetype");

font-display:swap;

}


@font-face {

font-family:"Faruma";

src:url("./fonts/Faruma_Regular.ttf") format("truetype");

font-display:swap;

}



*{

box-sizing:border-box;

}



html,body{

margin:0;

padding:0;

background:transparent;

overflow:hidden;

}



#lowerThird{


position:absolute;

bottom:50px;

right:50px;


width:650px;

height:100px;


display:flex;

align-items:center;

justify-content:space-between;


direction:ltr;


background:

linear-gradient(

135deg,

rgba(0,130,70,0.92),

rgba(215,170,40,0.92)

);



border-radius:25px;


box-shadow:

0 10px 35px rgba(0,0,0,.45);



opacity:0;

transform:translateY(35px);


transition:

opacity .5s ease,

transform .5s ease;



}



#lowerThird.show{

opacity:1;

transform:translateY(0);

}




.logo{

width:65px;

height:65px;

object-fit:contain;

margin:20px;

}



.text{

flex:1;

text-align:center;

direction:rtl;

}



#name{


font-family:"Aammu";

font-size:40px;


background:

linear-gradient(

180deg,

#ffffff,

#c8c8c8

);


-webkit-background-clip:text;

color:transparent;



}



#category{


font-family:"Faruma";

font-size:22px;


margin-top:5px;



background:

linear-gradient(

180deg,

#ffffff,

#a8a8a8

);


-webkit-background-clip:text;

color:transparent;



}