@font-face {

font-family:"MV AammuFK";

src:url("./MV_AammuFK_Regular.ttf") format("truetype");

font-display:block;

}



@font-face {

font-family:"Faruma";

src:url("./Faruma_Regular.ttf") format("truetype");

font-display:block;

}



*{

box-sizing:border-box;

}



html,body{

margin:0;

width:100%;

height:100%;

background:transparent;

overflow:hidden;

}



body{

direction:rtl;

}



.lower-third{


position:absolute;

bottom:60px;

left:50%;

transform:translateX(-50%) translateY(40px);


width:700px;

height:120px;


display:flex;

align-items:center;

justify-content:space-between;


padding:15px 25px;


border-radius:30px;



background:

linear-gradient(

135deg,

rgba(0,120,70,.92),

rgba(215,170,40,.92)

);



box-shadow:

0 15px 40px rgba(0,0,0,.45);



opacity:0;


transition:

all .5s ease;


}



.lower-third.show{


opacity:1;

transform:translateX(-50%) translateY(0);


}



.logo-box{


width:90px;

height:90px;


display:flex;

align-items:center;

justify-content:center;


}



.logo{


max-width:75px;

max-height:75px;

object-fit:contain;


filter:

drop-shadow(0 5px 15px rgba(0,0,0,.4));


}



.text-box{


flex:1;

text-align:center;

direction:rtl;


}



.name{


font-family:"MV AammuFK";


font-size:45px;


background:

linear-gradient(

180deg,

#ffffff,

#cfcfcf

);


-webkit-background-clip:text;

background-clip:text;

color:transparent;



}



.category{


font-family:"Faruma";


font-size:25px;


margin-top:0px;



background:

linear-gradient(

180deg,

#ffffff,

#bdbdbd

);


-webkit-background-clip:text;

background-clip:text;

color:transparent;



}