@font-face {

font-family:"MV AammuFK";

src:url("./MV_AammuFK_Regular.ttf");

}



@font-face {

font-family:"Faruma";

src:url("./Faruma_Regular.ttf");

}



*{

box-sizing:border-box;

}



html,body{

margin:0;

width:100%;

height:100%;

background:transparent;

overflow:hidden;

}



body{

direction:rtl;

}



.lower-third{


position:absolute;

bottom:60px;

left:50%;


transform:translateX(-50%);



width:700px;

min-height:120px;



display:flex;

align-items:center;

justify-content:center;



padding:15px 25px;



border-radius:30px;



background:

linear-gradient(

135deg,

rgba(0,120,70,.92),

rgba(215,170,40,.92)

);



box-shadow:

0 15px 40px rgba(0,0,0,.45);



transition:

width .4s ease;



}



.logo-box{


width:90px;

height:90px;



display:flex;

align-items:center;

justify-content:center;



flex-shrink:0;


}



.logo{


max-width:75px;

max-height:75px;



object-fit:contain;



}



.text-box{


flex:1;

text-align:center;

padding:0 25px;


}



.name{


font-family:"MV AammuFK";

font-size:45px;



white-space:nowrap;



color:white;


}



.category{


font-family:"Faruma";

font-size:25px;



color:white;



}
